.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    text-align: center;
}

/* Style the error message */
#error-message {
    padding-top: 20px;
    /* Add top padding */
    color: red;
    display: none;
    /* Initially hidden */
    margin-top: 10px;
    /* Space between form and error message */
    text-align: center;
    /* Center text inside the error message */
    width: 100%;
    /* Ensure it takes full width of the container */
}